body {
    background-color: #d1e4f2;
}
.out-of-stock {
    pointer-events: none;
    opacity: 0.5;
}
html {
    scroll-behavior: smooth;
}
.button{
    background-color: #28a745;
    border-color: #28a745;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
